* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    line-height: 1.6;
    background: #f8f9fd;
    color: #111;
}

.logo {
    color: #4E47FF;
    font-family: 'Segoe UI';
    font-size: 34px;
    font-weight: bold;
}

.btn {
    background: #6366f1;
    color: #fff;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    margin-bottom: 179px;
}

.btn:hover {
    transform: scale(1.05);
    background: #4f46e5;
}

.banner {
    background-size: cover;
    background-position: center;

    color: rgb(20, 19, 19);
    text-align: center;
    padding: 0px 150px;
    padding-top: 50px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.banner-content h1 {
    font-size: 65 px;

}

.action {

    display: flex;
    justify-content: space-between;
    /* padding: 4rem 2rem; */
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 116px;

}

.action-left {}

.action-right img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;


}

.productive {
    background-color: #4E47FF10;
    margin: 0 auto;
    margin-top: 116px;
    text-align: center;
    width: 80%;
    border-radius: 10px;
}

.users {
    font-size: 38px;
}

.stats {
    display: flex;
    color: #4E47FF;
    justify-content: space-around;
    gap: 1.5 rem;
    margin-top: 1rem;
    font-weight: bold;


    border-radius: 10px;
    font-size: 80px;


}

.pera {
    font-size: 20px;
    color: #504e4e;


}

.feedback {
    margin-top: 137px;
    padding: 4rem 2 rem;
    text-align: center;

}

.focus {
    margin-top: 137px;
    text-align: center;

}

.pic {
    gap: 20px;
    border-radius: 48px;

}

.reviews {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2 rem;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 1 rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 300px;

}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.contact {
    
    display: flex;
    width: 80%;
    margin: 74px auto;
    justify-content: space-between;
    padding: 4rem 2rem;
    background: #eef1f4;
    gap: 2rem;
}

.contact-left {
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    flex: 1;
}

.contact-right {
    flex: 1;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

input,
textarea {
    padding: 0.75rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.footer {
    background: #fff;
    padding: 3rem 2rem;
    text-align: center;
}
.ready{
    color: #4E47FF;
    font-size: 70px;
}

.footer nav {
    margin-top: 1rem;
}

.footer nav a {
    margin: 0 1rem;
    color: #555;
    text-decoration: none;
}