* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    line-height: 1.6;
    background: #f8f9fd;
    color: #111;
}

.btn {
    background: #6366f1;
    color: #fff;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    background: #4f46e5;
}

header.banner {
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    color: rgb(20, 19, 19);
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.banner-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.action {

    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;
    align-items: center;
    gap: 2rem;
}
.action-left{
    flex:1;
}
.action-right img{
    width:100%;
    max-width: 500px;
    border radius:12px;

}
.productive{
    padding: reem 2 rem;
    text-align: center;
}